.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30vh;
	z-index: 100;

	background: rgba(255, 255, 255, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 75%,
		rgba(255, 255, 255, 0) 80%,
		rgba(255, 255, 255, 0) 95%,
		rgba(255, 255, 255, 0) 100%
	);
}

.text {
	font-family: "Yanone Kaffeesatz";
	font-size: 48px;
	display: flex;
	/* position: absolute; */
	/* bottom: vh; */
	/* transform: translateX(-50%); */
	user-select: none;

	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 20px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #9999995e;
			transition: ease-in 5s, ease-out 5s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}